/* AboutUs.css */
.about-us-container {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  padding: 20px;
}

.about-us-header {
  text-align: center;
  margin-bottom: 40px;
  color: #333;
}

.about-us-header h1 {
  font-size: 3rem;
  color: #1a73e8;
}

.about-us-header p {
  font-size: 1.5rem;
  color: #555;
}

.about-us-content {
  margin-top: 30px;
}

.section {
  display: flex;
  justify-content: center; /* Center the content horizontally */
  margin-bottom: 40px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center; /* Center align text */
}

.reverse {
  flex-direction: row-reverse;
}

.section-content {
  display: flex;
  align-items: center;
  justify-content: center; /* Center the content horizontally */
  width: 100%; /* Ensure full width for centering */
}

.text-content {
  max-width: 50%;
  padding: 20px;
  text-align: center; /* Center the text within the text container */
}

.text-content h2 {
  font-size: 2rem;
  color: #1a73e8;
  margin-bottom: 10px;
}

.text-content p {
  font-size: 1rem;
  color: #555;
  line-height: 1.6;
}

.section-image {
  width: 45%;
  border-radius: 8px;
  object-fit: cover;
}

.contact-info {
  text-align: center;
}

.contact-info ul {
  list-style-type: none;
  padding: 0;
}

.contact-info ul li {
  font-size: 1rem;
  color: #555;
}

.contact-info a {
  color: #1a73e8;
  text-decoration: none;
}

.contact-info a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .about-us-header h1 {
    font-size: 2.5rem;
  }

  .about-us-header p {
    font-size: 1.2rem;
  }

  .section {
    flex-direction: column;
  }

  .section-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .section-image {
    width: 100%;
    margin-top: 20px;
  }

  .text-content {
    text-align: center;
  }
}
